<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1>
            <a href="index.html">In Codice Ratio</a>
        </h1>
        <nav id="nav">
            <ul>
                <li class="special"><a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="/user/newTask">Vai al prossimo task</a></li>
                            <li><a href="/user/studentTasks">Task Effettuati</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</div>