<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ICR</title>

    <link rel="stylesheet" th:href="@{/css/newTask.css}"/>

    <link rel="shortcut icon" th:href="@{/img/siteImages/favicon.ico}"/>

</head>
<body class="landing">
<ul>
    <li>
        <h2 th:text="${student.name}+' '+${student.surname}"/>
        <h2 th:text="'Stai svolgendo il task '+${student.taskEffettuati}"/>

    </li>
</ul>

<div align="center">
    <h3 th:text="${session.task.job.description}"/>
    <table th:if="${session.task.job.symbol} != null" class="pos">
        <tr>
            <th:block th:each="sample : ${positiveSamples}">
                <td>
                    <img th:src="@{|/${sample.path}|}" th:alt="${sample.id}"/>
                </td>
            </th:block>
        </tr>
    </table>
</div>

<form th:action="@{/user/secondConsoleWord}" method="post" th:object="${taskResults}" name="form">
    <div align="center">
        <table>
            <th:block th:each="id, result : ${taskResults.resultList}">
                <div id="canvasWrapper" style="height: 200px"/>
                <br />
                <br />
                <div class="componi">
                    <h3 class="compose">
                        Scrivi nell'area di testo sottostante
                        <br/> quella che secondo te è la parola completa
                    </h3>
                    <input type="text" id="text" name="name"/>
                </div>
                <div class="bottonRigtrasvDiv">
                    <button  type="button" id="undotoStartTrasvDiv">RICOMINCIA</button>
                    <button  type="button" id="undoRigaTrasvDiv">ANNULLA</button>
                </div>
                <div class="trasvDiv">
                    <h3 class="compose">
                        Scrivi nell'area di testo sottostante
                        <br/> quella che secondo te è la parola completa
                    </h3>
                    <input type="text" id="textTrasvDiv" name="name"/>
                </div>
                <button class="toStart" type="button" id="undotoStart">RICOMINCIA</button>
                <button class="toStartTrasversale" type="button" id="undotoStartTrasversale">RICOMINCIA</button>

                <button class="undoColor" type="button" id="undoColor">ANNULLA</button>

                <button class="undoRiga" type="button" id="undoRiga">ANNULLA</button>
                <button class="undoRigaTrasversale" type="button" id="undoRigaTrasversale">ANNULLA</button>


                <button class="componi" type="button" id="undoComponi">ANNULLA</button>
                <div class="undoComponiTrasvDiv">
                    <button  type="button" id="undoComponiTrasvDiv">ANNULLA</button>
                </div>
                <input class="buttonSi" type="submit" name="action" id="buttonSI"
                       value="SI"/>
                <input class="buttonNo" type="submit" name="action" id="buttonNO"
                       value="NO"/>

                <input type="hidden" id="output"
                       th:field="*{resultList[__${result.index}__].answer}" placeholder="Answer"/>
                <br/>
                <input type="hidden"
                       th:field="*{resultList[__${result.index}__].id}" placeholder="Id"/>
                <input type="hidden"
                       th:field="*{resultList[__${result.index}__].image.id}" placeholder="ImageId"/>
                <input type="hidden"
                       th:field="*{resultList[__${result.index}__].task.id}" placeholder="TaskId"/>
                <input type="hidden"
                       th:field="*{resultList[__${result.index}__].task.student.id}" placeholder="StudentId"/>
                <input type="hidden"
                       th:field="*{resultList[__${result.index}__].task.batch}" placeholder="Batch"/>
                <input type="hidden"
                       th:field="*{resultList[__${result.index}__].task.job.id}" placeholder="JobId"/>
                <input type="hidden"
                       th:field="*{resultList[__${result.index}__].task.startDate}" placeholder="StartDate"/>


            </th:block>
        </table>
    </div>
    <div align="center" class="selectword">
        <input type="submit" name="action" id="confermaForm"
               value="Conferma e vai al prossimo task"/>
    </div>

    <div align="center" class="trasvDiv">
        <input type="submit" name="action" id="confermaFormTrasvDiv"
               value="Conferma e vai al prossimo task"/>
    </div>

    <div align="center" class="componi">
        <input type="submit" name="action" id="confermaFormCompleta"
               value="Conferma e vai al prossimo task"/>
    </div>
    <div th:if="${session.task.job.symbol} != null " class="negSamp" align="center">
        <p></p>
        <h3>Attenzione: non vanno bene immagini come queste</h3>
        <table class="neg">
            <tr>
                <th:block th:each="noSample : ${negativeSamples}">
                    <td>
                        <img th:src="@{|/${noSample.path}|}" th:alt="${noSample.id}"/>
                    </td>
                </th:block>
            </tr>
        </table>
    </div>
</form>

<div align="center">
    <form method="post" th:action="@{/user/homeStudent}">
        <input type="submit" value="Torna alla pagina dello studente"/>
    </form>
</div>

<img id="taskImage" th:src="@{|/${taskResults.resultList[0].image.path}|}" style="display: none;"/>
<div id="hint" th:value="${hint}" style="display: none;"/>
<div id="tutorial" th:value="${taskResults.resultList[0].task.job.tutorial}" style="display: none;"/>


<script th:src="@{/js/loadCanvas.js}"/>
<script th:src="@{/js/selectAll.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-1.12.4.min.js}"></script>

<script th:src="@{|/jobScripts/${session.task.job.typology}/${session.jsPath}|}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>

<script th:src="@{/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/skel.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/ie/respond.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/backButton.js}"></script>
</body>
</html>