<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ICR</title>


    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/img/siteImages/favicon.ico}"/>
</head>
<body class="landing">
<div th:include="administration/menu"></div>
<br/>
<h1>Inserimento Manoscritto nel database</h1>
<div class="form">
    <div class="tab-content">
        <div id="signup">
            <h1>Seleziona Manoscritto</h1>
            <form th:action="@{/admin/insertManuscript}" method="post" th:object="${manuscript}" name="form">
                <div class="field-wrap">
                    <div class="field-wrap">
                        <label> Manoscritto </label>
                        <select th:field="*{name}">
                            <option th:each="key: ${manuscripts.keySet()}"
                                    th:value="${key}"
                                    th:utext="${manuscripts.get(key)}"/>
                        </select>
                    </div>
                    <div id="formsubmitbutton">
                        <button type="submit" class="button button-block"
                                onclick="ButtonClicked()" name="action" value="WORD"> INSERISCI
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="buttonreplacement"
             style="margin-left: 100px; display: none;">
            <img th:src="@{/img/siteImages/loadIcon.gif}" alt="" />
        </div>
        <div id="login"></div>
    </div>
    <!-- tab-content -->
</div>
<!-- /form -->


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/skel.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<!--[if lte IE 8]>-->
<script th:src="@{/js/ie/respond.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/load.js}"></script>

</body>
</html>