<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ICR</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/img/siteImages/favicon.ico}"/>
</head>
<body class="landing">
<div th:include="administration/menu"></div>

<section id="banner">
    <div class="inner">
        <h2>Manoscritto inserito con successo</h2>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<!--[if lte IE 8]>-->
<script src="/js/ie/respond.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>