<!-- Page Wrapper -->
<div id="page-wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <nav id="nav">
            <ul>
                <li class="special"><a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="toSelectManuscript">Crea un nuovo Job</a></li>
                            <li><a href="selectManuscript">Inserisci un manoscritto</a></li>
                            <li><a href="/registration">Registra un nuovo
                                studente</a></li>
                            <li><a href="/admin/registrationAdmin">Registra un nuovo
                                Amministratore</a></li>
                            <li><a href="logout">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</div>


