<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ICR</title>

    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/img/siteImages/favicon.ico}"/>
</head>
<body class="landing">
<div th:include="administration/menu"></div>
<br/>
<h1>Creazione del Job</h1>
<div class="form">
    <div class="tab-content">
        <div id="signup">
            <h1>Seleziona Manoscritto da cui caricare i simboli</h1>
            <form th:action="@{/admin/selectImageByManuscript}" method="post" th:object="${manuscript}"
                       name="form">
                <div class="field-wrap">
                    <div class="field-wrap">
                        <label> Manoscritto </label>
                        <select th:field="*{name}">
                            <option th:each="key: ${manuscripts.keySet()}"
                                    th:value="${key}"
                                    th:utext="${manuscripts.get(key)}"/>
                        </select>
                    </div>
                    <div id="formsubmitbutton">
                        <button type="submit" class="button button-block" onclick="ButtonClicked()">Conferma</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="buttonreplacement" style="margin-left:80px; display:none;">
            <img th:src="@{/img/siteImages/loadIcon.gif}" alt=""/>
        </div>
        <div id="login"></div>
    </div>
    <!-- tab-content -->
</div>
<!-- /form -->
<script src="/js/jquery.min.js"></script>


<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<!--[if lte IE 8]>-->
<script src="/js/ie/respond.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/load.js"></script>
<script src="/js/file.js"></script>

</body>
</html>