div.social-wrap.c button {

    padding-left: 35px;
    padding-right: 0px;
    height: 35px;
    background: none;
    border: none;

    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;

    font-size: 16px;
    margin-bottom: 15px;
    width: 256px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}

div.insta button {

    padding-left: 35px;
    padding-right: 0px;
    height: 35px;
    border: none;
    background: url(instagram-logo.png), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #cd486b));
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;

    font-size: 16px;
    margin-bottom: 15px;
    width: 256px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}


div.social-wrap.c > .facebook {
    background: url(facebook-logo.png), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;


}

div.social-wrap.c > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(google-logo.png), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #DD4B39));
}

div.social-wrap.c > .instagram {
    background-size: 30px 30px, cover;
    background-image: url(instagram-logo.png);
    color: white;
}

.form-inline1 {
    float: left;
    display: inline;


}

.form-inline2 {
    float: right;
    display: inline;
}





