<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ICR</title>

    <link rel="stylesheet" th:href="@{css/registration.css}"/>
    <link rel="stylesheet" th:href="@{css/socialButtons.css}"/>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{img/siteImages/favicon.ico}"/>
</head>
<body class="landing">
<div th:include="menu"></div>
<div class="form">
    <div class="tab-content" style='margin-top: -10px'>
        <div id="signup">
            <h1>Login</h1>
            <form th:action="@{/login}" method="post" th:object="${admin}">
                <div class="top-row">
                    <div class="field-wrap">
                        <label> Username </label>
                        <input type='text' name='username' placeholder="Username" th:field="*{username}"/>
                        <font size="3"
                              color="red"><span th:text="${error}"/></font>
                    </div>
                    <div class="field-wrap">
                        <label> Password </label> <input type='password' name='password'
                                                         placeholder="Password" th:field="*{password}"/>
                    </div>
                    <button type="submit" class="button button-block"
                            style='cursor: pointer'>Invia
                    </button>
                </div>
            </form>
        </div>
        <div>
            <form class="form-inline1"
                  th:action="@{/connect/facebook}"
                  method="post">
                <input type="hidden" name="scope" value="email"/>
                <div class="social-wrap c">
                    <button class="facebook" type="submit" style='cursor: pointer'>Accedi con Facebook</button>
                </div>
                <input type="hidden" name="daFB"/>
            </form>
            <form class="form-inline2"
                  th:action="@{/connect/google}"
                  method="post">
                <input type="hidden" name="scope" value="email"/>

                <div class="social-wrap c">
                    <button class="googleplus" type="submit" style='cursor: pointer'>Accedi con Google</button>
                </div>
                <input type="hidden" name="daGoogle"/>
            </form>
            </div>
        </div>

        <div id="login"></div>
    </div>
    <!-- tab-content -->
</div>
<!-- /form -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.scrollex.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<!--[if lte IE 8]>-->
<script src="js/ie/respond.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>